body{
  height: 100%;
  width: 100%;
  background: #e0e1dd
}

.main-page-container{
  display: flex;
  flex-direction: row;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 99.5%
}
.parent-receipt-item-container{
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
.items-container{
  width: 60%;
  height: 100%;
  border-left: solid 3px black;
  display: grid;
  flex-direction: column;
}
.parent-a{
  height:100%;
  width: 100%
}
.tryout{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 11%;
  width: 100%
}
.alc-category{
  display: grid;
  flex-direction: row;
  border: solid 3px black;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2.0em;
  color:white;
  align-items: center;
  border-radius: 8px
}
.all-brands-container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 34%;
  width: auto;
  cursor: pointer
}
.all-brands{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 3px black;
  width: 100%;
  color: white;
  justify-content: center;
  font-size: 1.5em;
  align-items: center;
  border-radius: 8px;
  transition:0.3s
}
.all-brands.disabled-hover:hover {
  transform: none;
}
.all-brands.strike-through{
  text-decoration:line-through;
}
.all-brands:hover{
  transform: scale(1.033);
}

.all-cocktails-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 34%;
  width: 100%;
  cursor: pointer
}

.all-cocktails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 3px black;
  width: 100%;
  color: white;
  justify-content: center;
  font-size: 1.5em;
  align-items: center;
  border-radius: 8px;
  transition: 0.3s
}
.all-cocktails:hover {
  transform: scale(1.033);
}
.payment-container{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 99.3%;
  height: 10%
}
.pay-content{
  display: flex;
  width: inherit;
  background: green;
  border: 3px solid black;
  justify-content: center;
  border-radius: 8px;
  color: white;
  font-size: 200%;
  align-items: center;
  cursor: pointer;
  transition: .6s
}
.pay-content:hover {
  background: rgb(12, 175, 12)
}
.trans-cancel-content{
  display: flex;
  width: inherit;
  background: lightcoral;
  border: 3px solid black;
  color: white;
  font-size: 200%;
  justify-content: center;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  transition: .6s
}
.trans-cancel-content:hover{
  background: red
}
.receipt-item-container{
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  align-items: center;
  justify-content: space-between;
  max-height: 80%;
  overflow-y: scroll;
}
.receipt-item-container::-webkit-scrollbar {
  display: none;
}
.receipt-item-list{
  display: flex;
  flex-flow: column;
  width: 75%;
  align-items: center

}
.receipt-items-listitem{
  display: flex;
  flex-direction: row;
  height: auto;
  border: solid 2px black;
  width: 100%;
  justify-content: space-evenly;
  background:#778da9;
  color: white;
  border-radius: 12px;
  transition: .3s
}
 .receipt-items-listitem:hover {
   background-color: #415a77;
 }
 .group1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
 }
 .group2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
 }
 .group3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
 }
.bill-total-div{
  width: 90%;
  height: 8%;
  border: solid 2px black;
  border-radius: 12px;
  background-color: #415a77;
  opacity: .9;
  color: white;
  display: flex;
  font-size: 150%;
  align-content: flex-end;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%
}
.alc-modal-container{
  display: flex;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: grow 0.2s;
  animation-fill-mode: forwards;
}
.alc-modal-content{
  opacity:.97;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 50%;
  background-color: #B6B4BB;
  border: solid 4px black;
  border-radius: 10px;
  color: #fff;
  height: fit-content;
  min-height: fit-content;
}

.alc-modal-brand{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: auto;
  width: auto;
  padding-top: 2px;
  font-size: 3em;
  color: black
}
.alc-modal-option{
  color: black;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 8px;
  padding: 2%;
  font-size: 1.5em;
  transition: .7s
}
.alc-modal-option:hover {
  opacity:1;
  background-color: slategray
}
.exit-button{
  color: black;
  display: flex;
  align-self: flex-start;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px 
}
.alc-category-lookup{
  display: grid;
  flex-direction: row;
  border: solid 3px black;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  color: white;
  align-items: center;
  border-radius: 8px
}

.bondst-logo{
  width: 100%;
  height: 100%;
  background: black;
}
.logo-holder{
  height: 15%;
  width: 100%
}
.login-container{
  height: 45rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Login{
  background: #6d6a75;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.login-content{
  height: 50%;
  width: 50%;
  background-position: center;
  transition: background-image 1s ease-in-out 0s;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 12px solid white;
  border-radius: 12px;
  background: #778da9;
}
.login-form{
  padding: 8%;
  border: solid 3px white;
  border-radius: 12px;
  background-color:#6d6a75;
  opacity: .9;
  display: flex;
  flex-flow: column;
  width: auto;
  height: auto
}
.login-header{
  font-size: 1.5rem
}
.login-inputs{
  padding: 3%;
  border: solid 3px black;
  border-radius: 8px
}
.login-btn{
  padding: 3%;
  border: solid 3px black;
  border-radius: 8px;
  transition: .5s
}
.login-btn:hover{
  background: #13203e
}
.form-holder{
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: -10%
}
.logout{
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 90%;
  height: 5%;
}
.logout-logo{
  width: 40%;
  height: 100%;
  display:flex;
  align-self: center
}
.logout-btn{
  display: flex;
  align-self: center;
  padding: 2%;
  border: solid 3px black;
  border-radius: 8px;
  transition: .5s;
  cursor: pointer
}
.logout-btn:hover {
  background: #778da9
}
.logout-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 1%;
  border-bottom: 2px solid black
}

.add-quant{
  border: 1px solid darkgreen;
  background: #0cca4a;
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 12px;
  height: 20px;
  cursor: pointer;
  color:  black;
  transition: .2s
}
.add-quant:hover{
  transform: scale(1.3)

}
.sub-quant{
  flex-direction: row;
  display: flex;
  justify-content: center;
  border: 1px solid darkred;
  background: #ed474a;
  width: 12px;
  height: 20px;
  cursor: pointer;
  color: black;
  transition: .2s
}
.sub-quant:hover{
  transform: scale(1.3)
}
.void-item{
  color: red;
  cursor: pointer;
  transition: .2s
}
.void-item:hover {
  transform: scale(1.3)
}

.cancel-order-container{
  display: flex;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: grow 0.2s;
  animation-fill-mode: forwards;
}
.cancel-order-content{
  position: absolute;
  display: flex;
  color:black;
  flex-direction: column;
  align-items: center;
  width: 25%;
  max-width: 25%;
  background-color: #fff;
  border: solid 4px black;
  border-radius: 10px;
  color: #fff;
  min-height: 25%;
}
.cancel-header{
  color:black
}
.cancel-opts{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
  width:50%
}
.confirm-cancel{
  border: 2px solid black;
  background-color:green;
  border-radius: 10px;
  color:black;
  padding: 12%;
  transition: .3s
}
.confirm-cancel:hover {
  background-color: rgb(8, 173, 8);
  cursor: pointer
}
.deny-cancel{
  border: 2px solid black;
  background-color: rgb(227, 34, 34);
  border-radius: 10px;
  color:black;
  padding: 12%
}
.deny-cancel:hover {
  background-color: red;
  cursor: pointer
}
.confirmed-container{
  display: flex;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: grow 0.2s;
  animation-fill-mode: forwards;
}
.confirmed-content{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 3%;
    background-color: #fff;
    border: solid 4px black;
    font-size: 3.5em;
    border-radius: 10px;
    color: black;
    padding: 12%;
    overflow: auto
}
.alc-lookup-container{
  display: flex;
  background-color: rgba(1,1,1,.5);
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content:center;
  height: 100%;
  width: 100%;
  top: 0;
  right:0;
  left:0;
  bottom:0;
  animation: grow .5s;
  animation-fill-mode: forwards
}
.alc-lookup-content{
  opacity: .97;
  position: absolute;
  /* display: flex;
  flex-flow: row;
  align-items:center;
  justify-content: space-around; */
  width: 75%;
  background-color: #B6B4BB;
  border: solid 5px black;
  border-radius: 10px;
  color: #fff;
  height: 75%;
}
.lookup-items{
  border: 4px solid black;
  border-radius: 8px;
  padding: 2%;
  background-color: brown;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  min-width: 10%;
  max-width: 20%;
  max-height: 10%;
  min-height: 10%;
  cursor: pointer;
  display: flex;
  padding: 4%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: row;
  flex-flow: wrap;
}


@keyframes grow {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
